html {
	height: 100%;
	width: 100%;
	font-size: 1em;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

table {
	width: 100%;
}

button {
	margin-left: 0.5em;
}

#map {
	right: 0px;
	height: 100%;
	width: auto;
}

#sideBar {
	float: left;
	height: 100%;
	width: 30%;
	overflow: auto;
}

.rowtoggle {
	cursor: pointer;
}